<div class="list__wrapper padding" (click)="listoptions = !listoptions">
  <ul class="todo-list">
    <li>
      <div class="todo-list__content">
         Title / date and time
      </div>
      <div class="todo-list__action">
        <div class="todo-list__action-more">
          <button (click)="viewMore($event)">
            <i class="icon-android-more-horizontal"></i>
          </button>
        </div>
        <div class="todo-list__actionlist" [ngClass]="{'active': listoptions}">
          <button routerLink="../12"><i class="fa fa-pencil"></i></button>
          <button><i class="fa fa-check"></i></button>
          <button><i class="fa fa-trash-o"></i></button>
        </div>
      </div>
    </li>
  </ul>
</div>