@import '../../../styles/_variables.scss';

:host {
  min-width: 250px;
  max-width: 250px;
  position: absolute;
  left: -250px;
  transition: left 0.3s ease;
  height: calc( 100% - 50px );
  z-index: 100;
  background: map-get($colors, 'primary-color');
  color:  map-get($colors, 'primary-color-text');
  

  &.active {
    left: 0;
    width: 100%;
  }

  @media(min-width: map-get($layout, 'desktop' )) {
    height: 100%;
    left: 0;
    position: relative;
  }
}
.todo-sidebar {
  padding: 15px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    color: #fff;
    font-size: 16px;
    padding: 5px;

    a {
      &:hover {
        color: darken(#fff, 10%);
      }
    }
  }
}