<div class="login__wrap">
  <div class="login__head">
    <h2>Login to your awesome office</h2>
    <p>Dont have login? <a routerLink="/auth/signup">Signup</a></p>
  </div>
  <div class="login__form">
    <form [formGroup]="loginForm" (ngSubmit)="loginwithEmail(loginForm.value, loginForm.valid)">
      <div class="ngf-form__group">
        <input type="text" placeholder="Username"  class="ngf-form__control" formControlName="email">
      </div>
      <div class="ngf-form__group">
        <input type="password" placeholder="Password" class="ngf-form__control" formControlName="password">
      </div>
      <div class="ngf-form__group">
        <button class="ngf-btn-primary ngf-btn--block">Login</button>
      </div>
    </form>
  </div>
  <div class="ngf-message error" *ngIf="message">
    {{message}}
  </div>
  <div class="login__footer text-center">
    <p>Forget Password? <a routerLink="/auth/reset">Reset</a></p>
    <ngf-social-login></ngf-social-login>
  </div>
</div>