@import '../styles//_variables';

.ngf-form {
  &__control {
    width: 100%;
    display: block;
    min-height: 30px;
    border: 1px solid map-get($colors , 'primary-color-light');
    box-shadow: 6px 6px 12px map-get($colors , 'primary-color-light') inset;
    margin-top: 10px;
    padding: 0 15px;
    @media (min-width: map-get($grid-breakpoints, 'desktop' )) {
      min-height: 42px;
    }
  }
  &--inline {
      display: inline-block;
      width: auto;
    }

  &__group {
    margin-bottom: 15px;

    label {
      display: block;
    }

    textarea {
      padding: 10px 15px;
    }
  }
}