$FontPathOpenSans: "../node_modules/npm-font-open-sans/fonts";
$fa-font-path:        "../node_modules/font-awesome/fonts";

// Typography
$font-sans: 'Open Sans';


// Colors

// Layout
$layout: (
  desktop: 992px
);
