<div class="todo-details__title">
  <h2>Title</h2>
</div>
<div class="todo-details__description">
  <ul class="todo-details__info">
    <li>
      <strong>Due Date: </strong> 2/25/2017
    </li>
    <li>
      <strong> Note </strong> <br>
      <textarea  cols="30" rows="10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus cumque, provident illo
      quisquam fugit ipsam, ex porro deleniti? Sit ipsam repellat totam accusantium incidunt esse repudiandae dolorem, alias
      tempora ut.</textarea>
    </li>
    <li>
      <button>Update</button>
    </li>
  </ul>
</div>