<div>
  <form>
    <div class="ngf-form__group">
      <label>Title</label>
      <input type="text" class="ngf-form__control">
    </div>
    <div class="ngf-form__group">
      <label>Date</label>
      <input type="date" class="ngf-form__control" placeholder="Add Date">
    </div>
    <div class="ngf-form__group">
      <label>Info</label>
      <textarea  rows="10" class="ngf-form__control"></textarea>
    </div>
    <div class="ngf-form__group">
      <button class="ngf-btn-primary">Create</button>
    </div>
  </form>
</div>