<div>
  <form [formGroup]="taskForm" (ngSubmit)="update(taskForm.value, taskForm.valid)">
    <div class="ngf-form__group">
      <label>Title</label>
      <input type="text" class="ngf-form__control" formControlName="title">
    </div>
    <div class="ngf-form__group">
      <label>Info</label>
      <textarea  rows="10" class="ngf-form__control" formControlName="info"></textarea>
    </div>
    <div class="ngf-form__group">
      <button class="ngf-btn-primary" *ngIf="mode === 'add'">Create</button>
      <button class="ngf-btn-primary" *ngIf="mode === 'edit'">Update</button>      
    </div>
  </form>
</div>