<div class="signup__wrap">
  <div class="signup__head">
    <h2>Signup to mange your awesome office</h2>
    <p>Already signup? <a routerLink="/auth/login">login</a></p>
  </div>
  <div class="signup__form">
    <form [formGroup]="signupForm" (ngSubmit)="registerwithEmail(signupForm.value, signupForm.valid)">
      <div class="ngf-form__group">
        <input type="text" placeholder="Username"  class="ngf-form__control" formControlName="email">
      </div>
      <div class="ngf-form__group">
        <input type="password" placeholder="Password" class="ngf-form__control" formControlName="password">
      </div>
      <div class="ngf-form__group">
        <button class="ngf-btn-primary ngf-btn--block">Signup</button>
      </div>
      <div class="ngf-message error" *ngIf="message">
        {{message}}
      </div>
    </form>
  </div>
  <div class="signup__footer">
    <h4>Signup With</h4>
    <ngf-social-login></ngf-social-login>
  </div>
</div>