<div class="item">
    <div class="todo-list__content">
        {{ task?.title }}
    </div>
    <div class="todo-list__action">
      <div class="todo-list__actionlist" [ngClass]="{'active': listoptions}">
        <button  class="ngf-btn-primary" routerLink="../{{task?.$key}}">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="ngf-btn-primary" (click)="markasDone(task?.$key, true)">
          <i class="fa fa-check"></i>
        </button>
        <button class="ngf-btn-primary" (click)="delete(task)">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
    </div>
</div>