<div class="todo-details__title">
  <h2>Title</h2>
  <div class="todo-action__list">
      <button><i class="fa fa-ellipsis-v"> </i></button>
      <div class="todo-action__menu">
         <button><i class="fa fa-pencil" routerLink="/todo/12" [queryParams]="{mode : 'edit'}"></i></button>
      </div>
  </div>
</div>
<div class="todo-details__description">
  <ul class="todo-details__info">
    <li>
      <strong>Due Date: </strong> 2/25/2017
    </li>
    <li>
      <strong> Note </strong> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus cumque, provident illo
      quisquam fugit ipsam, ex porro deleniti? Sit ipsam repellat totam accusantium incidunt esse repudiandae dolorem, alias
      tempora ut.
    </li>
  </ul>
</div>