<div class="todo-details__title">
  <h2>{{ (task | async)?.title }} </h2>
  <div class="todo-list__action">
      <button (click)="menuToggle =! menuToggle" class="ngf-btn-primary">
        <i class="fa fa-ellipsis-v"> </i>
      </button>
      <div class="todo-list__actionlist" *ngIf="menuToggle" [ngClass]="{'active': menuToggle}">
         <button class="ngf-btn-primary">
           <i class="fa fa-pencil" routerLink="/todo/12" [queryParams]="{mode : 'edit'}"></i>
         </button>
      </div>
  </div>
</div>
<div class="todo-details__description">
  <ul class="todo-details__info">
    <li>
      <strong>Due Date: </strong> 2/25/2017
    </li>
    <li>
      <strong> Note </strong> <br> 
      {{ (task | async)?.info }}
    </li>
  </ul>
</div>