// Variables
@import './styles/_variables.scss';

// Dependecncy
@import '../node_modules/npm-font-open-sans/open-sans.scss';
@import '../node_modules/normalize-scss/sass/_normalize.scss';
@import '../node_modules/font-awesome/scss/font-awesome.scss';

// Normalize callback
@include normalize();

// Reset Styles

body {
  font-family: $font-sans;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}



// Common Global Styles
.padding {
  padding: 15px;
}

