@import '../../styles/_variables.scss';

/**
** Global todo
**/

.todo__wrapper {
  display: flex;
  height: calc( 100% - 57px );
}

.page__title {
  background: #ddd;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px 15px;

  h1 {
    margin: 0;
    font-size: 16px;
    @media(min-width: map-get($layout, 'desktop' )) {
      font-size: 25px;
    }
  }

  &__icon-left {
    margin-right: 15px;
  }

  &__icon-right {
    margin-left: 15px;
  }

  &__nav {
    @media(min-width: map-get($layout, 'desktop' )) {
      display: none;
    }
  }
}

// List
.todo-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: table;
    width: 100%;
  }

  &__content {
    display: table-cell;
    width: 100%;
  }

  &__action {
    display: inline-block;
    text-align: right;
    position: relative;
    @media(min-width: map-get($layout, 'desktop')) {
      width: 100px;
    }
  }

  &__action-more {
    @media(min-width: map-get($layout, 'desktop')) {
      display: none;
    }
  }

  &__actionlist {
    position: absolute;
    top: 100%;
    display: none;
    width: 50px;
    right: 0;

    &.active {
      display: block;
    }
    @media(min-width: map-get($layout, 'desktop')) {
      position: relative;
      display: block;
      width: 100px;
    }
  }
}
