@import '../../styles/_variables.scss';

/**
** Global todo
**/

.todo__wrapper {
  display: flex;
  height: calc( 100% - 57px );
}

.page__title {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px 15px;
  justify-content: space-between;
  background: map-get($colors, 'primary-color-dark');
  color: map-get($colors, 'primary-color-text');

  h1 {
    margin: 0;
    font-size: 16px;
    @media(min-width: map-get($layout, 'desktop' )) {
      font-size: 25px;
    }
  }

  &__icon-left {
    margin-right: 15px;
  }

  &__icon-right {
    margin-left: 15px;
  }

  &__nav {
    @media(min-width: map-get($layout, 'desktop' )) {
      display: none;
    }
  }
}

// menu 
.todo {
  &-action__list {
    position: relative;
  }
  &-action__menu {
    &.vertivcal {
    position: absolute;
    top: 100%;
    left: 0;
    }
  }
}

// List
.todo-list {
  padding: 0;
  margin: 0;
  list-style: none;

  /deep/ li {
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: table;
    width: 100%;
    
  }

  &__content {
    display: table-cell;
    width: 100%;
  }

  &__action {
    display: inline-block;
    text-align: right;
    position: relative;
    @media(min-width: map-get($layout, 'desktop')) {
      width: 100px;
    }
  }

  &__action-more {
    @media(min-width: map-get($layout, 'desktop')) {
      display: none;
    }
  }

  &__actionlist {
    position: absolute;
    top: 100%;
    display: none;
    width: 50px;
    right: 0;

    button {
      padding: 4px;
    }

    &.active {
      display: block;
    }
    @media(min-width: map-get($layout, 'desktop')) {
      position: relative;
      display: block;
      width: 100px;
    }
  }
}


/**
* Todo Details
**/

.todo-details {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h2 {
      font-size: 18px;
      font-weight: 700;
    }
  }

  &__description {
    @media(min-width: map-get($layout, 'desktop' )) {
      padding-right: 50px;
    }
    
  }

  &__info {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 10px 0;
    }
  }
}
