@import '../../styles/_variables.scss';

/**
** Global todo
**/

.todo__wrapper {
  display: flex;
  height: calc( 100% - 50px );
}



// menu 
.todo {
  &-action__list {
    position: relative;
  }
  &-action__menu {
    &.vertivcal {
    position: absolute;
    top: 100%;
    left: 0;
    }
  }
}

// List
.todo-list {
  padding: 0;
  margin: 0;
  list-style: none;

  /deep/ .item {
    margin: 0;
    padding: 10px 0;
    font-size: 16px;
    display: table;
    width: 100%;
    
  }

  &__content {
    display: table-cell;
    width: 100%;
  }

  &__action {
    display: inline-block;
    text-align: right;
    position: relative;
    button {
      padding: 4px;
      min-width: 30px;
    }
    @media(min-width: map-get($layout, 'desktop')) {
      width: 100px;
    }
  }

  &__action-more {
    @media(min-width: map-get($layout, 'desktop')) {
      display: none;
    }
  }

  &__actionlist {
    position: absolute;
    top: 100%;
    display: none;
    width: 50px;
    right: 0;
    &.active {
      display: block;
    }
    @media(min-width: map-get($layout, 'desktop')) {
      display: block;
      width: 100px;
    }
  }
}


/**
* Todo Details
**/

.todo-details {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h2 {
      font-size: 18px;
      font-weight: 700;
    }
  }

  &__description {
    @media(min-width: map-get($layout, 'desktop' )) {
      padding-right: 50px;
    }
    
  }

  &__info {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 10px 0;
    }
  }
}
