<div class="page__title">
  <button class="page__title__icon-left page__title__nav" (click)="sidebarActive = !sidebarActive">
    <i class="fa fa-bars"></i>
   </button>
  <h1> Todo Manager </h1>
  <button class="page__title__icon-right page__title__nav">
    <i class="fa fa-plus-circle" routerLink="untitled" [queryParams]="{mode : 'add'}"></i>
   </button>
</div>
<div class="todo__wrapper">
  <app-sidebar [ngClass]="{'active': sidebarActive}" (onCloseSidebar)="sidebarActive = !sidebarActive"></app-sidebar>
  <router-outlet></router-outlet>
</div>