<div class="page__title">
  <button class="page__title__icon-left page__title__nav" (click)="sidebarActive = !sidebarActive">
    <i class="fa fa-bars"></i>
   </button>
  <h1> Todo Manager </h1>
  <button class="page__title__icon-right">
    <i class="fa fa-plus-circle" routerLink="untitled" [queryParams]="{mode : 'add'}"></i>
   </button>
</div>

<div class="layout-wrapper has-page-title">
  <div class="sidebar-wrapper" [ngClass]="{'active': sidebarActive}">
    <app-sidebar (onCloseSidebar)="sidebarActive = !sidebarActive"></app-sidebar>
  </div>

  <section class="main-content">
   <router-outlet></router-outlet>
  </section>
</div>